@use '../variables' as *;
@use '../mixins' as *;

/*** GALERIA DE FOTOS ****/
.galeria {
    position : relative;
    padding  : 50px 0;
    max-width: $w_1600;
    margin   : 0 auto;
    z-index  : 1;

    .contenedor_galeria {
        position  : relative;
        margin-top: 50px;
        z-index   : 1;

        .item_galeria {
            position          : relative;
            display           : inline-block;
            vertical-align    : middle;
            margin            : 0;
            width             : percentage((100/4)/100);
            -webkit-transition: transform 250ms linear, box-shadow 250ms linear;
            -moz-transition   : transform 250ms linear, box-shadow 250ms linear;
            -o-transition     : transform 250ms linear, box-shadow 250ms linear;
            transition        : transform 250ms linear, box-shadow 250ms linear;
            -webkit-box-shadow: 0px 0px 15px 5px transparent;
            box-shadow        : 0px 0px 15px 5px transparent;
            z-index           : 1;
            @include scalar(1);

            img {
                display   : block;
                width     : 100%;
                height    : auto;
                object-fit: cover;
            }
        }
    }
}