@use '../variables' as *;
@use '../mixins' as *;

/**** PIE ****/
footer {
    position  : relative;
    text-align: center;
    z-index   : 1;

    p {
        font-size  : 18px;
        line-height: 50px;
        padding    : 10px;

        strong {
            font-weight: 600;
            color      : $color_principal;
        }
    }
}