@use '../variables' as *;
@use '../mixins' as *;

/*** POP POLÍTICA PRIVACIDAD ****/
.popup {
    @include fixedPos(20px, 50%, 20px, auto);
    border          : 1px solid $color_principal;
    padding         : 70px 25px 25px;
    pointer-events  : none;
    background-color: $color_claro;
    font-size       : 16px;
    max-width       : $w_1260;
    margin          : 0 auto;
    @include transicion(350ms);
    @include Ytranslate(0%);
    opacity: 0;
    z-index: 11;

    .titulo {
        font-size  : 1.5em;
        font-weight: 600;
        color      : $color_oscuro;
    }

    .descripcion {
        margin-top : 25px;
        font-size  : 1em;
        line-height: 1.4em;
        color      : $color_oscuro;
        max-height : 700px;
        text-align : justify;

        p {
            margin: 12px 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .cerrar_popup {
        @include absolutePos(0, 15px, 0, auto);
        text-align : center;
        font-size  : 1.5em;
        color      : $color_claro;
        width      : 40px;
        height     : 40px;
        line-height: 40px;
        margin     : 0 auto;
        border     : 1px solid $color_principal;
        background : $color_oscuro;
        cursor     : pointer;
        @include transicion(200ms);
        z-index    : 1;
    }
}

body.popuped {

    &:after {
        content: '';
        @include fixedPos(0, 0, 0, 0);
        background: rgba(0, 0, 0, .75);
        z-index: 10;
    }

    .popup {
        @include Ytranslate(-50%);
        pointer-events: all;
        opacity       : 1;
    }

}